section#about
    .col-md-6.col-xs-12.no-pad
        .bg-about
    .col-md-6.col-sm-12.col-xs-12.white-col
        .row
            // OWL CAROUSEL2
            .owl-carousel2
                .col-md-12
                    .wrap-about
                        .w-content
                            p.head-about
                                | Design is the method of putting form and content together. Design, just as art, has multiple definitions there is no single definition. Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
                            h5.name
                                | M. Reza
                            img(alt='signature', src='images/signature.png')
                .col-md-12.col-sm-12.col-xs-12.white-col
                    .row
                        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
                            .wrap-about
                                table.w-content
                                    tr
                                        td.title Name
                                        td.break :
                                        td  M. Reza
                                    tr
                                        td.title Phone
                                        td.break :
                                        td  +62 8678 999 012
                                    tr
                                        td.title Email
                                        td.break :
                                        td  bdgpixel@gmail.com
                                    tr
                                        td.title Address
                                        td.break :
                                        td  Cipamokolan street 102 , Bandung, Indonesia
                                    tr
                                        td.title Skype
                                        td.break :
                                        td  bdgpixel
                                    tr
                                        td.title Dribbble
                                        td.break :
                                        td  Muh-Reza
                                    tr
                                        td.title Behance
                                        td.break :
                                        td  m-reza
            // /.OWL CAROUSEL2 END