section#education.grey-bg
    .container
        .row
            .col-md-3
                h3.title-small
                    span Education
                p.content-detail
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .col-md-9.content-right
                .row
                    ul.listing-item
                        li
                            .col-md-6.col-sm-6
                                .wrap-card
                                    .card
                                        h2.year
                                            | 2002 - 2005
                                        p.job
                                            | Information System
                                        p.company
                                            | Telkom University
                                        hr
                                        .text-detail
                                            p
                                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                        li
                            .col-md-6.col-sm-6
                                .wrap-card
                                    .card
                                        h2.year
                                            | 2005 - 2007
                                        p.job
                                            | DKV
                                        p.company
                                            | UNIKOM
                                        hr
                                        .text-detail
                                            p
                                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                    ul.listing-item
                        li
                            .col-md-6.col-sm-6
                                .wrap-card
                                    .card
                                        h2.year
                                            | 2007 - 2009
                                        p.job
                                            | Magister DKV
                                        p.company
                                            | ITB
                                        hr
                                        .text-detail
                                            p
                                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                        li
                            .col-md-6.col-sm-6
                                .wrap-card
                                    .card
                                        h2.year
                                            | 2009 - 2010
                                        p.job
                                            | Typhography Magister
                                        p.company
                                            | Florida University
                                        hr
                                        .text-detail
                                            p
                                                | Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.