section#home
    .container
        .row
            .wrap-hero-content
                .hero-content
                    h1 Hello
                    br
                    span.typed
            .mouse-icon.margin-20
                .scroll