section#services.white-bg
    .container
        .row
            .col-md-3
                h3.title-small
                    span Services
                p.content-detail
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .col-md-9.content-right
                .row
                    ul.listing-item
                        li
                            .col-md-4.col-sm-4
                                h3.icon-use
                                    | c
                                p.head-sm
                                    | MARKETING
                                p.text-grey
                                    | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                        li
                            .col-md-4.col-sm-4
                                h3.icon-use
                                    | b
                                p.head-sm
                                    | WEB DESIGN
                                p.text-grey
                                    | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                        li
                            .col-md-4.col-sm-4
                                h3.icon-use
                                    | d
                                p.head-sm
                                    | UI
                                p.text-grey
                                    | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                    ul.listing-item
                        li
                            .col-md-4.col-sm-4
                                p.icon-use
                                    | f
                                p.head-sm
                                    | DIRECTOR
                                p.text-grey
                                    | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                        li
                            .col-md-4.col-sm-4
                                h3.icon-use
                                    | p
                                p.head-sm
                                    | UX DESIGN
                                p.text-grey
                                    | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                        li
                            .col-md-4.col-sm-4
                                h3.icon-use
                                    | m
                                p.head-sm
                                    | FRONT END
                                p.text-grey
                                    | Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.