section#skill.white-bg
    .container
        .row
            .col-md-3
                h3.title-small
                    span Skills
                p.content-detail
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .col-md-9.content-right
                // SKILLST
                .skillst
                    .skillbar(data-percent='78%')
                        .title.head-sm
                            | HTML 5
                        .count-bar
                            .count
                    .skillbar(data-percent='91%')
                        .title.head-sm
                            | CSS 4
                        .count-bar
                            .count
                    .skillbar(data-percent='58%')
                        .title.head-sm
                            | jQuery
                        .count-bar
                            .count
                    .skillbar(data-percent='63%')
                        .title.head-sm
                            | PHP
                        .count-bar
                            .count
                    .skillbar(data-percent='95%')
                        .title.head-sm
                            | Photoshop
                        .count-bar
                            .count
                // /.SKILLST END