section#work.grey-bg.mar-tm-10
    .container
        .row
            .col-md-3
                h3.title-small
                    span Work
                p.content-detail
                    | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    br
                    br
                    | Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
            .col-md-9.content-right
                // PORTFOLIO IMAGE
                ul.portfolio-image
                    li.col-md-6
                        a(href='images/bw-1.png')
                            img(alt='image', src='images/bw-1.png')
                            .decription-wrap
                                .image-bg
                                    p.desc My Resume
                    li.col-md-6
                        a(href='images/bw-2.png')
                            img(alt='image', src='images/bw-2.png')
                            .decription-wrap
                                .image-bg
                                    p.desc
                                        | Pangirutan
                    li.col-md-6
                        a(href='images/bw-3.png')
                            img(alt='image', src='images/bw-3.png')
                            .decription-wrap
                                .image-bg
                                    p.desc
                                        | Black Mug
                    li.col-md-6
                        a(href='images/bw-4.png')
                            img(alt='image', src='images/bw-4.png')
                            .decription-wrap
                                .image-bg
                                    p.desc
                                        | Notebook Mockup
                    li.col-md-6
                        a(href='images/bw-5.png')
                            img(alt='image', src='images/bw-5.png')
                            .decription-wrap
                                .image-bg
                                    p.desc
                                        | Presentation
                    li.col-md-6
                        a(href='images/bw-6.png')
                            img(alt='image', src='images/bw-6.png')
                            .decription-wrap
                                .image-bg
                                    p.desc
                                        | Letter Branding
                // /.PORTFOLIO IMAGE END