footer
    .footer-top
        ul.socials
            li.facebook
                a(href='#', data-hover='Facebook') Facebook
            li.twitter
                a(href='#', data-hover='Twitter') Twitter
            li.gplus
                a(href='#', data-hover='Google +') Google +
    .footer-bottom
        .container
            .row
                a(href='https://dcrazed.com/')
                    img.center-block(src='images/logo-bottom.png', alt='crafted with love')