.header
    .for-sticky
        // LOGO
        .col-md-2.col-xs-6.logo
            a(href='index.html')
                img.logo-nav(alt='logo', src='images/logo.png')
        // /.LOGO END
    .menu-wrap
        nav.menu
            .menu-list
                a.active(data-scroll='', href='#home')
                    span Home
                a(data-scroll='', href='#about')
                    span About
                a(data-scroll='', href='#work')
                    span Work
                a(data-scroll='', href='#services')
                    span Services
                a(data-scroll='', href='#employement')
                    span Employement
                a(data-scroll='', href='#skill')
                    span Skills
                a(data-scroll='', href='#education')
                    span Education
                a(data-scroll='', href='#testimonial')
                    span Testimonial
                a(data-scroll='', href='#blog')
                    span Blog
                a(data-scroll='', href='#contact')
                    span Contact
        button#close-button.close-button Close Menu
    button#open-button.menu-button
        span
        span
        span
    // /.for-sticky