doctype html
html(lang='en')
    head
        include _partials/head
    body
        // PRELOADER
        include _partials/preloader
        // /.PRELOADER END
        // HEADER
        include _partials/header
        // /.HEADER END
        // CONTENT WRAP
        .content-wrap
            // CONTENT
            .content
                // HOME
                include _blocks/home
                // /.HOME END
                // ABOUT
                include _blocks/about
                // /.ABOUT END
                // WORK
                include _blocks/works
                // /.WORK END
                // SERVICES
                include _blocks/services
                // /.SERVICES END
                // EMPLOYEMENT
                include  _blocks/employement
                // /.EMPLOYEMENT END
                // SKILLS
                include _blocks/skills
                // /.SKILLS END
                // EDUCATION
                include _blocks/education
                // /.EDUCATION END
                // TESTIMONIAL
                include _blocks/testimonial
                // /.TESTMONIAL END
                // BLOG
                section#blog.grey-bg
                    .container
                        .row
                            .col-md-12
                                h3.title-small-center.text-center
                                    span Blog
                                .row
                                    .col-md-6.col-md-offset-3
                                        p.content-details.text-center
                                            | Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                                // GRID BLOG
                                .grid
                                    .grid-item
                                        .wrap-article
                                            img.img-circle.text-center(alt='blog-1', src='images/blog-1.png')
                                            p.subtitle.fancy
                                                span 09/01/2015
                                            a(href='#')
                                                h3.title
                                                    | Popular Design in 2015
                                            p.content-blog
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                                    .grid-item
                                        .wrap-article
                                            img.img-circle.text-center(alt='blog-4', src='images/blog-4.jpg')
                                            p.subtitle.fancy
                                                span 08/20/2015
                                            a(href='#')
                                                h3.title
                                                    | Just Start
                                            p.content-blog
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    .grid-item
                                        .wrap-article
                                            img.img-circle.text-center(alt='blog6', src='images/blog-6.jpg')
                                            p.subtitle.fancy
                                                span 08/11/2015
                                            a(href='#')
                                                h3.title
                                                    | The Huffington Post
                                            p.content-blog
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    .grid-item
                                        .wrap-article
                                            img.img-circle.text-center(alt='blog2', src='images/blog-2.jpg')
                                            p.subtitle.fancy
                                                span 08/03/2015
                                            a(href='#')
                                                h3.title
                                                    | Manuk!
                                            p.content-blog
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    .grid-item
                                        .wrap-article
                                            img.img-circle.text-center(alt='blog5', src='images/blog-5.jpg')
                                            p.subtitle.fancy
                                                span 07/26/2015
                                            a(href='#')
                                                h3.title
                                                    | Do Web Designer Really Need To Know UI/UX Design and Backend Code too?
                                            p.content-blog
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                    .grid-item
                                        .wrap-article
                                            img.img-circle.text-center(alt='blog-3', src='images/blog-3.jpg')
                                            p.subtitle.fancy
                                                span 08/03/2015
                                            a(href='#')
                                                h3.title
                                                    | Somewhere Place
                                            p.content-blog
                                                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                                // /.GRID BLOG END
                // /.BLOG END
                // CONTACT
                include _blocks/contact
                // /.CONTACT END
                // FOOTER
                include _partials/footer
                // /.FOOTER-END
                // /.CONTENT END
            // /.CONTENT-WRAP END
        script(src='js/jquery-1.9.1.min.js', type='text/javascript')
        script(src='js/jquery.appear.js', type='text/javascript')
        script(src='js/bootstrap.min.js', type='text/javascript')
        script(src='js/classie.js', type='text/javascript')
        script(src='js/owl.carousel.min.js', type='text/javascript')
        script(src='js/jquery.magnific-popup.min.js', type='text/javascript')
        script(src='js/masonry.pkgd.min.js', type='text/javascript')
        script(src='js/masonry.js', type='text/javascript')
        script(src='js/smooth-scroll.min.js', type='text/javascript')
        script(src='js/typed.js', type='text/javascript')
        script(src='js/main.js', type='text/javascript')
